# === CORE DATA STACK ===
numpy<2
pandas==2.1.1
pyarrow==13.0.0

# === API ===
requests==2.31.0

# === GCP ===
google-cloud-storage==2.10.0
google-cloud-bigquery==3.10.0

# === DBT ===
dbt-core==1.5.11
dbt-bigquery==1.5.3

# === PARQUET / IO ===
fastparquet==2026.3.0
fsspec==2026.3.0

# === ENV ===
python-dotenv==1.0.0
