# === GCP Configuration ===
GCP_PROJECT_ID=your-gcp-project-id
GCP_REGION=us-east1
GCP_KEY_PATH=configs/gcp_credentials.json

# === BigQuery & Storage ===
GCP_DATASET=bike_data
GCS_BUCKET=your-unique-bucket-name
BQ_LOCATION=US

# === Data Paths (Relative to project root) ===
RAW_DATA_DIR=./data/raw
PROCESSED_DATA_DIR=./data/processed
DBT_PROFILES_DIR=./dbt

# === Tables ===
# Nombres de las tablas finales en BigQuery
GCP_RAW_TABLE=raw_citibike_trips
GCP_MART_STATION_STATUS=mart_station_status

# === Source URLs ===
# URL para carga histórica inicial
CITIBIKE_CSV_URL=https://s3.amazonaws.com/tripdata/202401-citibike-tripdata.csv.zip
